[Service]
ExecStart=/home/gridflow/src/venv/bin/python populate_db.py
WorkingDirectory=/home/gridflow/src
StandardOutput=file:/var/log/bdgd.log
StandardError=file:/var/log/bdgd.err